@media only screen and (max-width: 1920px) {
  .grid {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 18px;
    font-weight: bold;
  }

  .card__price {
    font-size: 16px;
    font-weight: bold;
  }

  .card__button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 16px;
    font-weight: bold;
  }

  .card__price {
    font-size: 14px;
    font-weight: bold;
  }

  .card__button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 16px;
    font-weight: bold;
  }

  .card__price {
    font-size: 14px;
    font-weight: bold;
  }

  .card__button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 14px;
    font-weight: bold;
  }

  .card__price {
    font-size: 12px;
    font-weight: bold;
  }

  .card__button {
    font-size: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  padding: 10px;
  background: #ecf0f1;
  border-radius: 5px;
}

.card__img {
  object-fit: cover;
  border-radius: 10px;
}

.card__spacer {
  flex: 1;
}
