.login_form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.login_form__header {
  text-align: center;
  padding-bottom: 2.5px;
}

.login_form__header_subtitle {
  font-size: 12px;
}

.login_form ion-input {
  border: solid 1px black;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.login_form .login_button {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
