/* Cart */
.bg {
  --background: url('../assets/bg_cart.jpg') 0 0/100% 100%;
  color: aliceblue;
}

.bg2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.ion-text-center {
  padding: 10px;
}

.cart {
  padding: 20px;
}

.colomn {
  padding: 30px;
}

/* Home */
@media only screen and (max-width: 1920px) {
  .grid {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 18px;
    font-weight: bold;
  }

  .card__price {
    font-size: 16px;
    font-weight: bold;
  }

  .card__button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 16px;
    font-weight: bold;
  }

  .card__price {
    font-size: 14px;
    font-weight: bold;
  }

  .card__button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 16px;
    font-weight: bold;
  }

  .card__price {
    font-size: 14px;
    font-weight: bold;
  }

  .card__button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .card__title {
    font-size: 14px;
    font-weight: bold;
  }

  .card__price {
    font-size: 12px;
    font-weight: bold;
  }

  .card__button {
    font-size: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  padding: 10px;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

.card__img {
  object-fit: cover;
  border-radius: 10px;
}

.card__spacer {
  flex: 1;
}

/* Modal */
.exit-tom {
  width: 450px;
  height: 50px;
}

.gambar-1 {
  display: block;
  margin: auto;
  width: 50%;
}

.judul-menu {
  position: fixed;
  width: 211px;
  height: 24px;
  top: 343px;
}

.ket-menu1 {
  position: fixed;
  width: 431px;
  height: 34px;
  top: 388px;
}

.ket-menu {
  position: fixed;
  width: 150px;
  height: 74px;
  top: 448px;
}

.button-cart {
  position: fixed;
  width: 171px;
  height: 54px;
  top: 558px;
  left: 250px;
}

/* Login */
.login_form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.login_form__header {
  text-align: center;
  padding-bottom: 2.5px;
}

.login_form__header_subtitle {
  font-size: 12px;
}

.login_form ion-input {
  border: solid 1px black;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.login_form .login_button {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
